body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 500px;
    height: 500px;
}
h1{
 font-weight: normal;
}
form{
    border-top: 4px solid #C1E37F;
    border-bottom: 4px solid #C1E37F;
    border-radius: 5px;

    padding: 20px 2px 5px 2px;
}

input{
   padding: 10px; 
   border: 1px solid #ccc;
   border-radius: 10px;
   outline: 0;
   margin-bottom: 10px;
   width: 220px;
}

.name{
    display: flex;
}
.firstName{
    flex:1;
  
}

.lastName{
    flex:1;
   
}

#userName{
    width: 470px;
   
}
#email{
    width: 470px;
   
}

.password{
    display: flex;
}
.password1{
    flex:1;
}

.confirmPassword{
    flex:1;
}

.validator{
    display: flex;
}

.validator button{
    
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    margin-right: 50px;
    
    width: 60px;
    height: 30px;
}
.validator p{
    font-size: 14px;
}
.validator p span{
    background-color:#3E75B5;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-weight: 700;
}

.validator p a{
    color:#3E75B5;
    text-decoration:none;
}

.btn{
    padding: 10px ;
    display: flex;
    margin-top: 10px;
    
    
}
#btnAzul{
    flex: 1;
    padding: 10px 30px;
    background-color:#3E75B5 ;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin-right: 10px;
}
#btnVerde{
    flex: 1;
    padding: 10px 30px;
    background-color: #5DB95C;
    border-radius: 5px;
    color: #fff;
    border: none;
}

